.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/7/4/1404471219221/09116f02-97ea-4a0b-86da-cb20f9ae7ae4-2060x1236.jpeg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #282828;
  font-size: 48px;  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #282828;
}

.random-video {
  text-align: center;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #000066;
}

.Destinations {
    background-color:#efefef
    border-bottom:1px solid #dbdbdb
}

.neighborhood-guides {
    color:#393c3d
    font-size:24px
}

.neighborhood-guides {
    font-size:15px
    margin-bottom: 13px
}

#contact {
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
}

#contact h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
